<% include header %>
<link rel="stylesheet" href="/stylesheets/style.css">

<div class="row-u">
  <div class="col-3">
    <a href="#">
      <div class="card">
        <img class="card-img-top"  src="/imgsp/1a.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">Hạt cà chua cực tốt</h4>
          <p class="card-text">100.000 đ</p>
        </div>
      </div>
    </a>
  </div>
</div>
<% include footer %>