<% include header %>
<title><%= title %></title>
<div class="jumbotron">
    <h1 class="display-3 text-center mt-4">Bạn chưa đăng hình nên không đăng bán được sản phẩm</h1>
</div>

<% include footer %>